body {
	padding-top: 50px;
	padding-bottom: 50px;
}

/** 입력값이 적절하지 않은 입력 요소에 대한 CSS 정의 */
form input.error, form textarea.error {
	border: 1px solid red;
}
/** 에러메시지가 표시되는 동적 요소에 대한 CSS 정의 */
form label.error {
	color: red;
	width: auto;
	font-size: 12px;
	padding: 0 10px;
}

.carousel {
	height: 400px;
	margin-bottom: 60px;
}

.carousel-inner>.item>img {
	min-width: 100%;
	height: 400px;
}

.carousel-inner .carousel-caption {
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

/** 글 목록 말 줄임 처리 */
.list-group-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/** 캐러셀의 반응형 기능 */
@media ( min-width : 786px) {
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
}

@media ( max-width : 767px) {
	.carousel {
		height: 300px;
		margin-bottom: 30px;
	}
	
	.carousel-inner>.item>img {
		height: 300px;
	}
	
	.carousel h1 {
		font-size: 20px;
	}
	
	.carousel p {
		font-size: 16px;
	}
}